.baseButton {
  gap: 6px;
  color: var(--text);
  border: 2px solid var(--border);
  display: inline-flex;
  padding: 8px clamp(32px, 10vw, 64px);
  font-size: 1.25rem;
  background: var(--bg-button);
  font-weight: bold;
  border-radius: 6px;

  &:hover {
    background: var(--bg-hover);
  }
}
