:root {
    --bg-body: #D2E2;

    --bg-welcome: #F8F8FF;
    --bg-button: #E2E2E2;
    --bg-hover: #F37C7C;
    --bg-hover2: #F4DD52;
    --border: #1D1D1D;

    --h1: #1E1E1EE5;
    --text: #1E1E1EE5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto;

    height: 100vh;
    max-width: 1280px;
    background: var(--bg-body);
}

#app {
    height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

a {
    text-decoration: none;
}

input {
    border: none;
    outline: none;
}

button{
    border: none;
    outline: none;
}